#content {
    max-width: 1600px;
    margin: 0 auto;

    /* test */
    /* background-color: coral; */
}

nav:a {
    text-align: center;
}

div.hero {
    text-align: center;
}

.button-box {
    text-align: center;
}

main {
    text-align: center;
}