#content {
    max-width: 1600px;
    margin: 0 auto;

    /* test */
    /* background-color: coral; */
}

nav:a {
    text-align: center;
    color: black;
    text-decoration: none;
}

footer:a {
    text-decoration: none;
}

div.hero {
    text-align: center;
}

.button-box {
    text-align: center;
}

main {
    text-align: center;
}

#background {
    height: 725px;
    /* test */
    /* background-color: coral; */
}

body {
    background-color: lightgrey; 
}

header {
    background-color: lightblue;
}

a:hover {
    text-decoration: underline;
}

nav a:hover {
    background-color: red;
}

.book {
    background-color: white;
    text-decoration: none;
}

.join {
    background-color: white;
    text-decoration: none;
}

.book:hover {
    background-color: green;
}

.join:hover {
    background-color: green;
}

#background {
    background-color: white;
}

.msg {
    background-color: lightblue;
}

footer {
    background-color: lightblue;
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

h3 {
    text-decoration: underline;
}
